<table class="custom-event-editor" width="100%" cellpadding="5">
    <tbody>
        <tr>
            <td class="e-textlabel">
                <div class="dung"><i class="far fa-paper-plane"></i></div>
                <span>Tiêu đề</span>
            </td>
            <div class="e-float-input">
                <input #EventTitle id="EventTitle" [(ngModel)]="eventTitle" class="e-field e-input" type="text"
                    name="Subject" style="width: 100%" />
            </div>
        </tr>
        <tr *ngIf="userSrv.isSup">
            <td class="e-textlabel">
                <div class="dung" style="margin-right: 0px"><i class="far fa-user"></i></div>
                <span>Tên khách hàng</span>
            </td>
            <div class="e-float-input">
                <input type="text" [(ngModel)]="eventGuestName" readonly>
                <span class="e-float-line"></span>
            </div>
        </tr>
        <tr *ngIf="userSrv.isSup">
            <td class="e-textlabel">
                <div class="dung"><i class="fas fa-mobile-alt"></i></div>
                <span>Số điện thoại</span>
            </td>
            <div class="e-float-input">
                <input type="text" [(ngModel)]="eventGuestTel" readonly>
                <span class="e-float-line"></span>
            </div>
        </tr>
        <tr *ngIf="userSrv.isSup">
            <td class="e-textlabel">
                <div class="dung"><i class="far fa-envelope"></i></div>
                <span>Email</span>
            </td>
            <div class="e-float-input">
                <input type="text" [(ngModel)]="eventGuestEmail" readonly>
                <span class="e-float-line"></span>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">
                <div class="dung"><i class="far fa-calendar-check"></i></div>
                <span>Bắt đầu</span>
            </td>
            <div class="e-float-input">
                <ejs-datetimepicker #StartTime [(ngModel)]="eventStartTime" [max]="eventEndTime" name="StartTime"
                    class="e-field e-input">
                </ejs-datetimepicker>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">
                <span class="dung"><i class="far fa-calendar-check"></i></span>
                <span>Kết thúc</span>
            </td>
            <div class="e-float-input">
                <ejs-datetimepicker #EndTime [(ngModel)]="eventEndTime" [min]="eventStartTime" name="EndTime"
                    class="e-field e-input">
                </ejs-datetimepicker>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">
                <div class="dung"><i class="fas fa-retweet"></i></div>
                <span>Trạng thái</span>
            </td>
            <div class="e-float-input">
                <input *ngIf="this.userSrv.isUser" type="text" id="EventStatus" [(ngModel)]="eventStatus" name="status"
                    class="e-field e-input" style="width: 100%" readonly />
                <ejs-dropdownlist *ngIf="userSrv.isSup" #StatusLichTapBay [dataSource]='statusLichTapBayList'
                    [fields]='fieldsStatus' class="e-field e-input" name="status" [popupHeight]='height'
                    [(ngModel)]='eventStatusID' (ngModelChange)="changeStatus($event)">
                </ejs-dropdownlist>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">
                <div class="dung"><i class="fas fa-map-marker-alt"></i></div>
                <span>Địa điểm</span>
            </td>
            <div class="e-float-input">
                <ejs-dropdownlist #EventPlace [dataSource]='placeList' class="e-field e-input" name="diaDiemBayID"
                    [(ngModel)]='eventPlaceID' [fields]='fieldsPlace' [popupHeight]='height'>
                </ejs-dropdownlist>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">
                <div class="dung"><i class="fas fa-comment-medical"></i></div>
                <span>Mô tả</span>
            </td>
            <div class="e-float-input">
                <textarea #EventDescription id="EventDescription" [(ngModel)]="eventDescription" class="e-field e-input"
                    name="description" rows="3" cols="50"
                    style="width: 100%; height: 60px !important; resize: vertical"></textarea>
            </div>
        </tr>
    </tbody>
</table>