<head>
  <title>Chi tiết Tin Tức</title>
</head>
<body>
  <user-header></user-header>
  <div class= "container detail-new ">
    <div id= "detail-new" class="col-md-9" >
    <h2>{{currPost.tieuDe}}</h2>
    <div id= "date">3/4/2019</div>
    <div id= "new-opening">asdjjkk</div>
    <div id= "new-content">
      <p>{{currPost.noiDung}}</p>
    </div>
    </div>
    <div id="other-new" class="col-md-3">
      <h2>Các bài viết khác</h2>
      <ul>
        <li><a>Tên bài viết</a></li>
        <li><a>Tên bài viết</a></li>
      </ul>
    </div>
  </div>
  
  <user-footer></user-footer>

</body>
