h2 {
  color: darkslategray;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}
#date {
  margin-bottom: 10px;
  color: gray;
  text-transform: uppercase;
  font-size: 11px;
}
#new-opening {
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}
