  

    /* Horizontal Card Layout Customization */

    .card-control-section .horizontal_card_layout  .e-card-stacked {
      justify-content: flex-start;
  }

  .card-control-section.horizontal_card_layout  .e-card-actions button:last-child {
      margin-left: 20px;
  }

  .card-control-section.horizontal_card_layout .e-card.e-card-horizontal.e-product .e-card-stacked> :first-child,
  .card-control-section.horizontal_card_layout #vertical_Sample .e-card.e-card-horizontal .e-card-stacked> :first-child,
  .card-control-section.horizontal_card_layout #vertical_Sample .e-card.e-card-horizontal .e-card-stacked> :first-child {
      flex-grow: initial;
  }

  .card-control-section.horizontal_card_layout #vertical_Sample {
      height: inherit;
  }

  .card-control-section.horizontal_card_layout #vertical_Sample .e-card img {
      height: 188px;
  }

  .card-control-section.horizontal_card_layout #vertical_Sample .e-card {
      height: 50%;
  }

  .card-control-section.horizontal_card_layout #vertical_Sample .e-card:first-child {
      margin-bottom: 10px;
  }

  .card-control-section.horizontal_card_layout #vertical_Sample .e-card>* {
      width: 50%;
      justify-content: flex-start;
  }

  .card-control-section.horizontal_card_layout #horizontal_product .e-card-header {
      width: 100%;
  }



 
  .card-control-section.horizontal_card_layout  {
      margin-bottom: 50px;
  }

  .card-control-section.horizontal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
      width: 100%;
      padding: 10px;
      margin: auto;
  }

  .card-control-section.horizontal_card_layout .card-layout {
      margin: auto;
      max-width: 870px;
  }

  @media (min-width: 912px) {
      .card-control-section.horizontal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
          width: 50%;
      }
      .card-control-section.horizontal_card_layout .card-layout {
          max-width: 800px;
      }
  }

  @media (max-width: 600px) {
      .card-control-section.horizontal_card_layout .card-layout {
          max-width: 400px !important;
      }
  }

  @media (max-width: 912px) {
      .card-control-section.horizontal_card_layout .row.card-layout {
          display: flex;
          flex-direction: column;
      }
      .card-control-section.horizontal_card_layout .card-layout {
          max-width: 640px;
      }
  }

  @media (min-width: 700px) and (max-width: 912px) {
      .card-control-section.horizontal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
          width: 70%;
      }
  }

  @media (min-width: 600px) and (max-width: 700px) {
      .card-control-section.horizontal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
          width: 80%;
      }
  }
  .card-control-section.reveal_card_layout .e-card #card_revealed .e-card-content table td,
  .card-control-section.reveal_card_layout .e-card #card_reveal .e-card-header .e-card-header-caption {
      text-align: left
  }

  .card-control-section.reveal_card_layout .e-card #card_revealed .e-card-content table td .e-card-actions .e-card-btn {
      background-color: inherit;
      border: none;
  }

  .card-control-section.reveal_card_layout .row.card-layout .e-card #card_reveal.e-reveal-show {
      display: block;
      height: auto;
      overflow: hidden;
  }

  .card-control-section.reveal_card_layout .row.card-layout .e-card .e-reveal-show {
      animation: reveal 0.3s cubic-bezier(.8, .2, .1, 0.8);
  }

  .card-control-section.reveal_card_layout .row.card-layout .e-card #card_reveal.e-reveal-hide {
      animation: hidden 0.3s cubic-bezier(.8, .2, .1, 0.8);
      transition: all 200ms;
      transform: translateY(0px) scale(0);
  }

  .card-control-section.reveal_card_layout .e-card #card_reveal {
      display: none;
  }

  .card-control-section.reveal_card_layout .card-layout .e-card .e-reveal-hide {
      display: none;
      height: 0;
      overflow: hidden;
  }

  @keyframes hidden {
      0% {
          transform: translateY(-100px);
          display: block !important;
          z-index: 20;
      }
      10% {
          transform: translateY(-90px);
      }
      20% {
          transform: translateY(-80px);
      }
      30% {
          transform: translateY(-70px);
      }
      40% {
          transform: translateY(-60px);
      }
      50% {
          transform: translateY(-50px);
      }
      60% {
          transform: translateY(-40px);
      }
      70% {
          transform: translateY(-30px);
      }
      80% {
          transform: translateY(-20px);
      }
      90% {
          transform: translateY(-10px);
      }
      100% {
          transform: translateY(0px) scale(0);
          display: none;
          z-index: 0;
      }
  }

  @keyframes reveal {
      0% {
          transform: translateY(100px);
      }
      10% {
          transform: translateY(90px);
      }
      20% {
          transform: translateY(80px);
      }
      30% {
          transform: translateY(70px);
      }
      40% {
          transform: translateY(60px);
      }
      50% {
          transform: translateY(50px);
      }
      60% {
          transform: translateY(40px);
      }
      70% {
          transform: translateY(30px);
      }
      80% {
          transform: translateY(20px);
      }
      90% {
          transform: translateY(10px);
      }
      100% {
          transform: translateY(0px) scale(0);
      }
  }

  .card-control-section.reveal_card_layout .e-card .e-collapse:before {
      content: "\e7fc";
      font-size: 12px;
  }

  .card-control-section.reveal_card_layout .e-card .e-reveal-icon {
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
  }

  .card-control-section.reveal_card_layout .e-card .e-reveal-icon:before {
      content: "\e984";
  }

  .card-control-section.reveal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
      width: 100%;
      padding: 10px;
  }

  .card-control-section.reveal_card_layout .card-layout {
      margin: auto;
      max-width: 250px;
  }

  @media (min-width: 560px) {
      .card-control-section.reveal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
          width: 100%;
      }
      .card-control-section.reveal_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 .e-card {
          width: 250px;
          margin: auto;
      }
  }
  