<head>
  <title>Tin Tức</title>

</head>

<body>
  <user-header></user-header>
  <div class="news-body">
    <div class="col-lg-12 control-section card-control-section tile_layout">
      <div class="row filter">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
          <div class="e-float-input">
            <input type="text" required="" id="search_Card">
            <span class="e-float-line"></span>
            <label class="e-float-text" style="font-size:14px">Enter text to search</label>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 tile_search">
          <input type="text" id="local">
        </div>
      </div>
      <div class='row e-card-layout' style="text-align:center;">
        <div class="row">
          <div class="row error" style="display:none;min-height:150px">
            <div class="e-error-content"
              style="margin:auto;height:inherit;font-size:18px;font-weight:500;color:inherit">
              No results found. Please try a different search.</div>
          </div>
          <!-- Post List -->
          <div *ngFor="let post of postList">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div id="vertical_Sample">
                <div tabindex="0" class="e-card e-card-horizontal" id="horizontal_product">
                  <img src='' style="height:100px" />
                  <div class='e-card-stacked'>
                    <div class="e-card-header">
                      <div class="e-card-header-caption">
                        <div class="e-card-header-title">{{post.id}} {{post.tieuDe}}</div>
                      </div>
                    </div>
                    <div class="e-card-content" style="height: 146px">{{post.noiDung}}</div>
                    <button ejs-button cssClass="e-outline" [isPrimary]="true" (click)="sendCurrPostID(post.id)" routerLink='/user-detail-new' routerLinkActive="active menu">Read more</button>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <ul id="pagination" class="pagination pagination-sm ">
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
    </ul>
  </div>
  <user-footer></user-footer>
</body>