<head>
  <title>Tin Tức</title>

</head>

<body>
  <user-header></user-header>
  <div class="news-body container">
      <div class="col-lg-12 control-section card-control-section horizontal_card_layout">
      <div class='row card-layout' style="text-align:center;">
        <div class="row">
          <!-- Paged Post List -->
          <div *ngFor="let post of pagedPostList">

         
              
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                  <div id="vertical_Sample">
                    <div tabindex="0" class="e-card e-card-horizontal" id="horizontal_product">
                      <img src='../../assets/images/drone_1.jpg' />
                      <div class='e-card-stacked'>
                        <div class="e-card-header">
                          <div class="e-card-header-caption">
                            <div class="e-card-header-title">{{post.id}} {{post.tieuDe}}</div>
                          </div>
                        </div>
                        <div class="e-card-content" style="height: 146px" >
                          <div style=" text-align: left">{{post.noiDung.slice(0,100)}}...</div>
                          <br>
                          <button ejs-button cssClass="e-outline" [isPrimary]="true" (click)="sendCurrPostID(post.id)"
                          routerLink='/user-detail-new' routerLinkActive="active menu">Read more</button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              
            
            <!--  -->
          </div>
        </div>
      </div>
    </div>
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
  </div>

 
  <user-footer></user-footer>
</body>