<footer class="footer" id="my-footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <h2 class="logo"><a href="#"> Drone Website </a></h2>
          </div>
          <div class="col-sm-2">
              <h5>Shop</h5>
              <ul>
                  <li><a href="#">Danh mục</a></li>
                  <li><a href="user-product-list">Drone</a></li>
                  <li><a href="#">Phụ Kiện</a></li>
                  <li><a href="#">Hóa Chất</a></li>
              </ul>
          </div>
          <div class="col-sm-2">
              <h5>Đào Tạo</h5>
              <ul>
                  <li><a href="user-calendar">Đặt Lịch</a></li>
                  <li><a href="user-calendar">Quản Lý Lịch</a></li>
                  <li><a href="#">Học Online</a></li>
              </ul>
          </div>
          <div class="col-sm-2">
              <h5>Về Chúng Tôi</h5>
              <ul>
                  <li><a href="#">Giới Thiệu</a></li>
                  <li><a href="contact">Liên Hệ</a></li>
                  <li><a href="user-forum-topic-list">Thảo Luận</a></li>
                  <li><a href="user-news">Tin Tức</a></li>
              </ul>
          </div>
          <div class="col-sm-3">
              <div class="social-networks">
                  <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>
              </div>
              <button type="button" class="btn btn-default my-button">Liên Hệ</button>
          </div>
      </div>
  </div>
  <div class="footer-copyright">
      <p>© 2019 Copyright By DangNhuThuy </p>
  </div>
</footer>
