.my-body {
    background-color: ghostwhite;
}
.dung {
    display: inline-block;
    margin: 0px 10px;
}
.my-contact {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-size: large;
}
