<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700"> 
    <link rel="stylesheet" href="../../assets/home/fonts/icomoon/style.css">
  
    <link rel="stylesheet" href="../../assets/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/home/css/magnific-popup.css">
    <link rel="stylesheet" href="../../assets/home/css/jquery-ui.css">
    <link rel="stylesheet" href="../../assets/home/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../assets/home/css/owl.theme.default.min.css">
  
    <link rel="stylesheet" href="../../assets/home/css/bootstrap-datepicker.css">
  
    <link rel="stylesheet" href="../../assets/home/fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
  
  
    <link rel="stylesheet" href="../../assets/home/css/aos.css">
  
    <link rel="stylesheet" href="../../assets/home/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Noto+Sans+SC&display=swap" rel="stylesheet">
    
  </head>
  
  <user-header></user-header>


  <div class="site-section bg-light my-contact">
      <div class="container">
        <div>
          <div class="dung"><i class="far fa-comments fa-lg"></i></div>
          <h2 style="display:inline-block" class="my-contact">LIÊN HỆ</h2>
        </div>
        
        <div class="row">
          <div class="col-md-7 mb-5">
            <form action="#" class="p-5 bg-white">
             

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Họ</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Tên</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Tiêu Đề</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Nội Dung</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Các thắc mắc của bạn sẽ được giải đáp sớm nhất!"></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Gửi" class="btn btn-primary py-2 px-4 text-white" style="font-size: 14px">
                </div>
              </div>

  
            </form>
          </div>
          <div class="col-md-5">
            
            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Địa chỉ</p>
              <p class="mb-4">Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội, Việt Nam</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+84 123456789</a></p>

              <p class="mb-0 font-weight-bold">Email</p>
              <p class="mb-0"><a href="#">dangnhuthuy@gmail.com</a></p>

            </div>
            
            <div class="p-4 mb-3 bg-white">
              <img src="../../assets/images/drone_6.jpg" alt="Drone" class="img-fluid mb-4 rounded">
              <h3 class="h5 text-black mb-3" class="my-contact"><b>Dịch vụ</b></h3>
              <p>Hệ thống cung cấp dịch vụ đặt lịch và quản lí lịch tập bay chuyên nghiệp, trực quan tới người dùng.
                Hãy cùng trải nghiệm dịch vụ đặc biệt này của chúng tôi. </p>
              <p><a href="user-calendar" class="btn btn-primary text-white" style="font-size: 14px">Chi tiết</a></p>
            </div>

          </div>
        </div>
      </div>
  </div>
  <user-footer></user-footer>
  
  <script src="../../assets/home/js/jquery-3.3.1.min.js"></script>
  <script src="../../assets/home/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="../../assets/home/js/jquery-ui.js"></script>
  <script src="../../assets/home/js/popper.min.js"></script>
  <script src="../../assets/home/js/bootstrap.min.js"></script>
  <script src="../../assets/home/js/owl.carousel.min.js"></script>
  <script src="../../assets/home/js/jquery.stellar.min.js"></script>
  <script src="../../assets/home/js/jquery.countdown.min.js"></script>
  <script src="../../assets/home/js/jquery.magnific-popup.min.js"></script>
  <script src="../../assets/home/js/bootstrap-datepicker.min.js"></script>
  <script src="../../assets/home/js/aos.js"></script>
  <script src="../../assets/home/js/main.js"></script>
