<table class="custom-event-editor" width="100%" cellpadding="5">
    <tbody>
        <tr>
            <td class="e-textlabel">Tiêu đề</td>
            <div class="e-float-input">
                <input #EventTitle id="EventTitle" [(ngModel)]="eventTitle" class="e-field e-input" type="text"
                    name="Subject" style="width: 100%" />
            </div>
        </tr>
        <tr *ngIf="userSrv.isSup">
            <td class="e-textlabel">Tên khách hàng</td>
            <div class="e-float-input">
                <input type="text" [(ngModel)]="eventGuestName" readonly>
                <span class="e-float-line"></span>
            </div>
        </tr>
        <tr *ngIf="userSrv.isSup" >
            <td class="e-textlabel">Số điện thoại</td>
            <div class="e-float-input">
                <input type="text" [(ngModel)]="eventGuestTel" readonly>
                <span class="e-float-line"></span>
            </div>
        </tr>
        <tr *ngIf="userSrv.isSup" >
            <td class="e-textlabel">Email</td>
            <div class="e-float-input">
                <input type="text" [(ngModel)]="eventGuestEmail" readonly>
                <span class="e-float-line"></span>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">Bắt đầu</td>
            <div class="e-float-input">
                <ejs-datetimepicker #StartTime [(ngModel)]="eventStartTime" [max]="eventEndTime"
                name="StartTime" class="e-field e-input" >
                </ejs-datetimepicker>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">Kết thúc</td>
            <div class="e-float-input">
                <ejs-datetimepicker #EndTime [(ngModel)]="eventEndTime" [min]="eventStartTime"
                name="EndTime" class="e-field e-input" >
                </ejs-datetimepicker>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">Trạng thái</td>
            <div class="e-float-input">
                <input *ngIf="this.userSrv.isUser" type="text" id="EventStatus" [(ngModel)]="eventStatus" name="status"
                    class="e-field e-input" style="width: 100%" readonly />
                <ejs-dropdownlist *ngIf="userSrv.isSup" 
                    #StatusLichTapBay 
                    [dataSource]='statusLichTapBayList' [fields]='fieldsStatus'
                    class="e-field e-input" name="status" [popupHeight]='height'
                    [(ngModel)]='eventStatusID' (ngModelChange)="changeStatus($event)" >
                </ejs-dropdownlist>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">Địa điểm</td>
            <div class="e-float-input">
                <ejs-dropdownlist #EventPlace [dataSource]='placeList' class="e-field e-input"
                    name="diaDiemBayID" [(ngModel)]='eventPlaceID' [fields]='fieldsPlace' [popupHeight]='height'>
                </ejs-dropdownlist>
            </div>
        </tr>
        <tr>
            <td class="e-textlabel">Mô tả</td>
            <div class="e-float-input">
                <textarea #EventDescription id="EventDescription" [(ngModel)]="eventDescription" class="e-field e-input"
                    name="description" rows="3" cols="50"
                    style="width: 100%; height: 60px !important; resize: vertical"></textarea>
            </div>
        </tr>
    </tbody>
</table>
