<head>
  <title>Topic List</title>
</head>

<body>
  <user-header></user-header>
  <div class="container-fluid">
    <user-forum-share></user-forum-share>


    <div id="topic-list-table" class="col-sm-7">
      <div>
        <h2>Question Topics </h2>
        <hr />
      </div>
      <div>
        <ejs-grid #grid1 [dataSource]='data' [allowPaging]="true" [pageSettings]='pageSettings' [allowSorting]="true"
          [allowFiltering]="true" [filterSettings]='filterSettings' [selectionSettings]='selectionOptions'
          (rowSelected)='rowSelected($event)'>
          <e-columns>
            <e-column field='id' headerText='Topic ID' textAlign='Center' width=50></e-column>
            <e-column field='tenChuDeCauHoi' headerText='Topic Name' width=120></e-column>
            <e-column field='numOfPost' headerText='Number Of Posts' textAlign='Center' width=90></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </div>
  <user-footer></user-footer>
</body>