<div id="topic-list " class="col-sm-2" style="float:left">
  <div>
    <h2>Topic List</h2>
    <hr>
  </div>

  <div class="list-group" style="width: 100%">
    <a href="#" class="list-group-item">First item</a>
    <a href="#" class="list-group-item">Second item</a>
    <a href="#" class="list-group-item">Third item</a>
  </div>
  <button id="add-topic" ejs-button [isPrimary]="true">ADD TOPIC</button>
</div>

<div class="col-sm-3" style="float: right;">
  <button id="add-question" ejs-button [isPrimary]="true">ADD QUESTION</button>
  <hr>
  <div id="hot-post">
    <div>
      <div id="hot-post-title"><b>HOT POST</b></div>
      <hr />
    </div>
    <div>
      <span id="number-of-answer">4</span>
      <a id="question-title" href="">Tiêu đề câu hỏi</a>
    </div>
  </div>
</div>