
#hot-post {
    // padding-top: 0px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
    background-color:lavenderblush;
     
}
hr {
    margin-top: 0px;
}
#hot-post-title {
    padding-top: 10px;
}
#number-of-answer {
    margin-right: 20px;
}
#add-question {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #ff6666;
}
#add-topic {
    background-color: #ff6666;    
}
#question-title {
    color: black;
}