
#hot-post {
    // padding-top: 0px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
    background-color:rgb(226, 233, 236);
     
}
hr {
    margin-top: 0px;
}
#hot-post-title {
    padding-top: 10px;
}
#number-of-answer {
    margin-right: 20px;
}
#add-question {
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: rgb(12, 111, 168);
}
#add-topic {
    background-color: rgb(12, 111, 168);    
}
#question-title {
    color: rgb(54, 51, 51);
}

#dialog-container {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

#container {
    visibility: hidden;
}

