<head>
  <title>Product List</title>
</head>

<body>
  <div>
    <user-header [brand]="brand" [slogan]="slogan"></user-header>
  </div>

  <div class="container-fluid" style="padding-top: 10px">
    <!-- filter -->
    <div class="col-sm-2">
      <div>
        <span><img src="../../assets/images/icons8-conversion-48.png" style="width: 20px; height: 20px"></span>
        <b>LỌC SẢN PHẨM</b>
      </div>
      <ejs-accordion id='filter'>
        <e-accordionitems class="scroll-menu-filter">
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>Nhà cung cấp</div>
            </ng-template>
            <ng-template #content>
              <ejs-multiselect id='sample-list1' [dataSource]='droneTraining' [mode]='default' [fields]='fieldsDrone'
                [placeholder]='placeholderDrone'></ejs-multiselect>
            </ng-template>
          </e-accordionitem>

          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>Giá</div>
            </ng-template>
            <ng-template #content>
              <ejs-multiselect id='sample-list1' [dataSource]='droneTraining' [mode]='default' [fields]='fieldsDrone'
                [placeholder]='placeholderDrone'></ejs-multiselect>
            </ng-template>
          </e-accordionitem>

          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>Khuyến mãi</div>
            </ng-template>
            <ng-template #content>
              <ejs-multiselect id='sample-list1' [dataSource]='droneTraining' [mode]='default' [fields]='fieldsDrone'
                [placeholder]='placeholderDrone'></ejs-multiselect>
            </ng-template>
          </e-accordionitem>

        </e-accordionitems>
      </ejs-accordion>
    </div>

    <!--Product List-->
    <div class='col-sm-10 my-font'>
      <div id='product-title'><b>SẢN PHẨM</b></div>
      <div class="e-card-layout row">
        <div *ngFor="let product of pagedProductList">
          <a href="http://localhost:4200/user-detail-product/{{product.id}}">
            <div class="e-card">
              <div class="e-card-actions">
                <div class="e-card-image">
                  <img id='images' src='../../assets/images/drone_{{product.id}}.jpg'>
                  <div class="e-card-title">{{product.name}}</div>
                </div>
                <div class="e-card-content">
                  <div>
                    <b>Giá: {{product.unitPrice}}</b>
                    <br>
                    <p>Đánh giá {{product.rating}}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!--Pagination-->
      <div>
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(1)">Đầu</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Trước</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Tiếp</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Cuối</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <user-footer></user-footer>
  </div>

</body>