<table class="custom-event-editor" width="100%" cellpadding="5">
  <tbody>
      <tr>
          <td class="e-textlabel">Tên vấn đề</td>
          <td colspan="4">
              <input id="EventTitle" [(ngModel)]="eventTitle" class="e-field e-input" type="text"
                  name="Subject" style="width: 100%" />
          </td>
      </tr>
      <tr>
          <td class="e-textlabel">Loại Issue</td>
          <td colspan="4">
              <ejs-dropdownlist #IssueCategory [dataSource]='issueCateList' class="e-field e-input" name="issuesCategoryID"
                [(ngModel)]='issueCate' [fields]='fieldsIssueCate' [popupHeight]='height'>
              </ejs-dropdownlist>
          </td>
      </tr>
      <tr>
          <td class="e-textlabel">Bắt đầu</td>
          <td colspan="4">
              <ejs-datetimepicker #StartTime [(ngModel)]="eventStartTime" name="StartTime" class="e-field e-input"
                  (ngModelChange)='onChangeStartDate()' [(min)]="minStart" [(max)]="maxStart">
              </ejs-datetimepicker>
          </td>
      </tr>
      <tr>
          <td class="e-textlabel">Kết thúc</td>
          <td colspan="4">
              <ejs-datetimepicker #EndTime [(ngModel)]="eventEndTime" name="EndTime" class="e-field e-input"
                  (ngModelChange)='onChangeEndDate()' [(min)]="minEnd" [(max)]="maxEnd">
              </ejs-datetimepicker>
          </td>
      </tr>
      <tr>
          <td class="e-textlabel">Trạng thái Issue</td>
          <td colspan="4">
              <ejs-dropdownlist #EventStatus [dataSource]='statusIssueList' class="e-field e-input" name="statusID"
                [(ngModel)]='eventStatus' (ngModelChange)='onSelectedStatusIssue($event)' [fields]='fieldsIssueStatus' [popupHeight]='height'>
              </ejs-dropdownlist>
          </td>
      </tr>
      <tr>
          <td class="e-textlabel">Mô tả vấn đề</td>
          <td colspan="4">
              <textarea id="EventDescription" [(ngModel)]="eventDescription" class="e-field e-input"
                  name="description" rows="3" cols="50"
                  style="width: 100%; height: 60px !important; resize: vertical"></textarea>
          </td>
      </tr>
  </tbody>
</table>