<div class="my-header">
    <div class="my-brand">
        <div id="brand">{{brand}}</div>
        <div id="slogan">{{slogan}}</div>
    </div>

    <div class="menu-section fixed ">
        <div class="toolbar-menu-control my-menu">
            <!-- Right Menu -->
            <div id="shoppingMenu" class="my-toolbar-items">
                <ejs-menu [items]="data"></ejs-menu>
            </div>

            <div class="my-toolbar-items" style="float:right">
                <!-- Cart Button -->
                <button id="cartbtn" class="my-toolbar-items" style="position:relative; margin-right: 20px" class="badge-block"
                    routerLink='/user-cart' routerLinkActive="active menu" ejs-button cssClass="e-flat"
                    [isPrimary]="true">
                    <div class="em-icons e-shopping-cart my-icon" style="font-size: 25px"></div>
                    <span class="e-badge e-badge-notification e-badge-overlap e-badge-circle e-badge-bottom my-badge">
                        {{count}}
                    </span>
                </button>

                <!-- User Button -->
                <a type=button ejs-dropdownbutton id='userDBtn' class="my-toolbar-items my-menu-right-items" [items]='userData'
                    class='e-flat'>
                    <i class="fas fa-user my-icon"></i>
                </a>

                <!-- Login Button -->
                <div class="my-toolbar-items">
                    <button *ngIf="loggedIn" id="logoutbtn" type=button ejs-button cssClass='e-flat' (click)="logout()"
                        class="my-menu-right-items">
                        <i class="fas fa-sign-out-alt my-icon"></i>
                    </button>
                    <button *ngIf="!loggedIn" id="loginbtn" type=button ejs-button cssClass='e-outline'
                        class="login-button my-menu-right-items"
                        [isPrimary]="true" (click)="login()">Đăng nhập</button>
                    <button *ngIf="!loggedIn" id="signupbtn" type=button ejs-button cssClass='e-outline'
                        class="my-menu-right-items login-button"
                        [isPrimary]="true" (click)="register()">Đăng kí</button>
                </div>
            </div>
        </div>
    </div>
</div>