<head>
  <title>User Detail Bill</title>
</head>

<body>
  <div>
    <user-header></user-header>
  </div>
  <div class="container-fluid mybox">
    <div class="row ">
      <!-- <div>
        <span id="avatar" class="e-avatar e-avatar-circle">DN</span>
        <span id="name" style="font-size: 25px">Tên Người Dùng</span>
      </div>
      <div class="col-sm-2 tree-view">
        <ejs-treeview #tree id='treeElement' [fields]='field' (nodeSelected)="routing($event)"></ejs-treeview>
      </div> -->


      <div class="bill-box">
        <h3><i class="fas fa-file-invoice-dollar"></i> Chi Tiết Đơn Hàng</h3>
        <div id="order-date">Ngày: <span style="color:rgb(167, 38, 38)">20/10/2019</span></div>
        <table class="table billTable">
          <tr>
            <th>Sản Phẩm</th>
            <th>Đơn Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
          </tr>

          <tr *ngFor="let cartrow of cartTable">
            <td class="name-product"><img class="product-img" src="../../assets/images/drone_1.jpg"> {{cartrow.name}}
            </td>
            <td>{{cartrow.price}}.000</td>
            <td>{{cartrow.quantity}}</td>
            <td> {{cartrow.price*cartrow.quantity}}.000</td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>
              <h4>Tổng tiền:</h4>
            </td>
            <td>
              <h4>{{totalPriceBill}}.000</h4>
            </td>
          </tr>
        </table>
      </div>

      <div class="info-customer-box">
        <h3><i class="fas fa-map-marker-alt"></i> Thông Tin Khách Hàng</h3>

        <div class="info-customer-box-content">
          <div id="hoten">Họ Tên: <span><b>Tên khách hàng</b></span></div>
          <div>SĐT: <span><b>0978916398</b></span></div>

          <div>Địa chỉ:
            <span>
              <input *ngIf="enableInput" id="receive-address" [(ngModel)]="addressValue">
              <span *ngIf="enableValue"><b>{{addressValue}}</b></span>
            </span>

            <span>
              <button *ngIf="enableChange" id="changeBtn" ejs-button cssClass="e-flat" [isPrimary]="true"
                (click)="changeAddress()">Change
              </button>
              <button *ngIf="enableSave" ejs-button cssClass="e-flat" [isPrimary]="true" (click)="saveAddress()">Save
              </button>
            </span>

          </div>
        </div>
      </div>

      <div id="wrapper">
        <button id="cancel-bill" ejs-button [isPrimary]="true" cssClass="e-flat">Hủy Đơn Hàng</button>
      </div>
    </div>
  </div>

  <div>
    <user-footer></user-footer>
  </div>
</body>