#bodyview {
    color: rgba(48, 44, 44, 0.87);
    // font-family:  "Segoe UI";
    font-size: 14px;
}
.billTable {
    margin-top: 30px;
}
.product-img {
    width: 100px;
}
.fa-cart-plus {
    margin-right: 5px;
}

td, th {
    text-align: center;
}
td.name-product {
    text-align: left;
}

.mybox {
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "-apple-system", "BlinkMacSystemFont";
    font-weight: normal;
}


.detail-bill-groupbtn {
    float: right;
    text-transform: capitalize;
}
#cancelBtn {
    color: rgb(230, 167, 33);
}
#receivedBtn {
    color: rgb(223, 53, 53);
}
#ratingBtn {
    color: rgb(223, 53, 109);
}

.bill-box, .info-customer-box {
    margin: 20px;
    border-radius: 8px;
    border-top: 1px solid rgb(206, 178, 180);
    border-left: 1px solid rgb(206, 178, 180); 
    border-right: 5px solid rgb(206, 178, 180);
    border-bottom: 4px solid rgb(206, 178, 180); 

}

h3 {
    margin-left: 20px;
    color: #d33463;
}
.info-customer-box-content {
    margin: 0px 0px 20px 50px;
}
#changeBtn {
    text-transform: lowercase;
}
b {
    letter-spacing: 1px;
    color: rgb(77, 73, 74);
}
#hoten {
    margin-bottom: 5px;
}
#wrapper {
    text-align: center;
}
.button {
    position: absoluted;
}