#container {
    visibility: hidden;
}


.e-card-image  {

    height: 264px;
}
#images {
    height: 264px;
    width: 100%;
}


.e-card {
    width: 240px;
    margin: 10px;
    float: left;
}
#filter{
    margin-top: 15px;
    margin-bottom: 15px;

}
#product-title{
    // margin-top: 15px;
    margin-bottom: 15px;

}
.e-card-layout {
    background-color: #fafafa;
}
// .pagination {
//    margin-left: 300px;
// }
.my-font {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-size: large;
}

