<head>
  <title>Chi tiết sản phẩm</title>
</head>

<body>
  <div>
    <user-header [count]="totalQuantity" [items]="items" [brand]="brand" [slogan]="slogan"></user-header>
  </div>
  <div class="container">
    <div class="col-sm-5">
      <div class="row">
        <div><img id='big-img' src='../../assets/images/drone_{{currProduct.id}}.jpg'></div>
        <hr>
        <div><img id="test" src="../../assets/images/drone_{{currProduct.id}}.jpg"></div>
        <div><img id="test2" src="../../assets/images/drone_{{currProduct.id}}.jpg"></div>
        <div><img id="test3" src="../../assets/images/drone_{{currProduct.id}}.jpg"></div>
      </div>
    </div>
    <div class="col-sm-7">
      <h6>{{currProduct.name}}</h6>
      <div style="font-size: 15px;">
        <span>
          <span class="text">Đánh giá</span>
          <span id='rating-score' class="number">{{currProduct.rating}}</span>
          <span >
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
          <!-- <span class="name">
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
            <span><i class="fa fa-star" aria-hidden="true"></i></span>
          </span> -->

        </span>
        <!-- <span>
          <span id='num-of-reviews' class="number">123</span>
          <span class="name text">Đánh Giá</span>
        </span> -->
        <span>
          <span id='num-of-sold' class="number">{{currProduct.sold}}</span>
          <span class="text">Đã Bán</span>
        </span>

      </div>
      <div class="price-box">
        <span class="price" id='initial-price'>${{currProduct.unitPrice}}</span>
        <span class="price" id='sale-price'><b>${{currProduct.unitPrice*currProduct.sale}}</b></span>
        <span class="price" id="percent-sale">{{currProduct.sale-1}}%</span>
      </div>

      <div>
        <div class="name-row">
          <div class="name2">Nhà cung cấp</div>
          <span><a>Tên nhà cung cấp</a></span>
        </div>

        <div class="name-row">
          <div class="name2">Số lượng</div>
          <span>
            <button ejs-button type=button cssClass='e-flat' [isPrimary]="true" (click)="minus()">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>

            <input id="quantity" type="number" value={{quantity}} disabled="true">

            <button ejs-button type=button cssClass='e-flat' [isPrimary]="true" (click)="add()">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>

          </span>
        </div>
        <div>
          <button ejs-button cssClass="e-outline" [isPrimary]="true" class="button"
            (click)="addToCart(quantity)">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>Thêm vào giỏ
          </button>
          <button ejs-button [isPrimary]="true" class="button" [routerLink]="['/user-detail-bill', currProduct.id]"
            routerLinkActive="active menu ">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="detail-info-box">
      <div>
        <h3 id="detail-title">Thông tin chi tiết</h3>
      </div>
      <div *ngFor="let des of split_des">
        <li style="padding-left: 20px">{{des}}</li>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="review-box">
      <div class="review-title">
        <h3>Đánh Giá Sản Phẩm</h3>
      </div>
    </div>

  </div>

  <div>
    <user-footer></user-footer>
  </div>

</body>