<head>
  <title>User Detail Bill</title>
</head>

<body>
  <div>
    <user-header [brand]="brand" [slogan]="slogan"></user-header>
  </div>
  <div class="container-fluid mybox">
    <div class="row ">
      <div class="bill-box">
        <h3><i class="fas fa-file-invoice-dollar"></i> Chi Tiết Đơn Hàng</h3>
        <div id="order-date">Ngày: <span style="color:rgb(167, 38, 38)"></span></div>
        <table class="table billTable">
          <tr>
            <th>Sản Phẩm</th>
            <th>Đơn Giá</th>
            <th>Số Lượng</th>
            <th>Thành Tiền</th>
          </tr>

          <tr *ngFor="let item of items">
            <td class="name-product"><img class="product-img" src="../../assets/images/drone_{{item.product.id}}.jpg"> {{item.product.name}}
            </td>
            <td>{{item.product.unitPrice}}</td>
            <td>{{item.quantity}}</td>
            <td> {{item.product.unitPrice*item.quantity}}</td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>
              <h4>Tổng tiền:</h4>
            </td>
            <td>
              <h4>{{total}}</h4>
            </td>
          </tr>
        </table>
      </div>

      <div class="info-customer-box">
        <h3><i class="fas fa-map-marker-alt"></i> Thông Tin Khách Hàng</h3>

        <div class="info-customer-box-content">
          <div id="hoten">Họ Tên: <span><b>{{currentUser['ho_ten']}}</b></span></div>
          <div>SĐT: <span><b>{{currentUser['so_dien_thoai']}}</b></span></div>

          <div>Địa chỉ:
            <span>
              <input *ngIf="enableInput" id="receive-address" [(ngModel)]="addressValue">
              <span *ngIf="enableValue"><b>{{addressValue}}</b></span>
            </span>

            <span>
              <button *ngIf="enableChange" id="changeBtn" ejs-button cssClass="e-flat" [isPrimary]="true"
                (click)="changeAddress()">Change
              </button>
              <button *ngIf="enableSave" ejs-button cssClass="e-flat" [isPrimary]="true" (click)="saveAddress()">Save
              </button>
            </span>

          </div>
        </div>
      </div>

      <div id="wrapper">
        <button ejs-button [isPrimary]="true" routerLink='/user-order-history' routerLinkActive="active menu">Đặt Hàng</button>
      </div>
    </div>
  </div>

  <div>
    <user-footer></user-footer>
  </div>
</body>