<head>
  <title>User Cart</title>
</head>

<body>
  <div>
    <user-header [count]="totalQuantity" [items]="items" [brand]="brand" [slogan]="slogan"></user-header>
  </div>
  <div class="container" id="bodyview">
    <div>
      <h3><span><i class="fas fa-shopping-cart"></i></span>  Chi Tiết Giỏ Hàng</h3>
    </div>
    <div style="margin-bottom: 10px;" >
      <table class="table">
        <tr>
          <th >Sản Phẩm</th>
          <th >Đơn Giá</th>
          <th >Số Lượng</th>
          <th >Thành Tiền</th>
          <th >Xóa</th>
        </tr>
        <tr *ngFor="let item of items">
          <td class="name-product" style="width:10%">
            <img class="product-img" src="../../assets/images/drone_1.jpg">  {{item.product.name}}
          </td>

          <td style="width:20%">{{item.product.unitPrice}}</td>

          <td style="width:20%">
            <button ejs-button type=button cssClass='e-flat' [isPrimary]="true" (click)="minus(item.product.id)">
              <i class="fa fa-minus" aria-hidden="true"></i>
            </button>

            <input class="input-box" id="quantity" type="number" value={{item.quantity}} disabled="true">

            <button ejs-button type=button cssClass='e-flat' [isPrimary]="true" (click)="add(item.product.id)">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
          </td>

          <td style="width:40%">
            <input *ngIf="false" class="input-box" id="totalPrice" [(ngModel)]="item.product.unitPrice*item.quantity" disabled="true"  >
            {{item.product.unitPrice*item.quantity}}
          </td>

          <td style="width:10%">
            <button ejs-button cssClass="e-flat" [isPrimary]="true" (click)="remove(item.product.id)">
              <i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><h4>Tổng tiền:</h4></td>
          <td><h4>{{totalPriceBill}}</h4></td>
          <td *ngIf="this.totalQuantity" ><button ejs-button [isPrimary]="true" class="button" id="buyNowBtn" 
            routerLink='/user-detail-bill' routerLinkActive="active menu">Mua ngay</button>
          </td>
        </tr>
      </table>
    </div>
    <div style="text-align: right">
      <button routerLink='/user-product-list' routerLinkActive="active menu" ejs-button cssClass="e-outline" [isPrimary]="true" class="button" id="buyContinueBtn">Tiếp tục mua hàng</button>
    </div>
  </div>


  <div>
    <user-footer></user-footer>
  </div>
</body>