<head>
    <title>Posts Of Topic</title>
  </head>
  
  <body>
    <user-header></user-header>
    <div class="container-fluid">
      <user-forum-share></user-forum-share>
  
  
      <div id="posts-of-topic-table" class="col-sm-7">
        <div>
          <h2>Posts Of this Topic</h2>
          <hr />
        </div>
        <div>
          <ejs-grid #grid2 [dataSource]='data1' [allowPaging]="true" [pageSettings]='pageSettings1' [allowSorting]="true"
            [allowFiltering]="true" [filterSettings]='filterSettings1' [selectionSettings]='selectionOptions'
            (rowSelected)='rowSelected($event)'>
            <e-columns>
              <e-column field='tieuDe' headerText='Tiêu đề' textAlign='left' width=40%></e-column>
              <e-column field='nguoiDat' headerText='Người đặt' width=20%></e-column>
              <e-column field='ngayDat' headerText='Ngày đặt' textAlign='Right' format='yMd' width=20%></e-column>
              <e-column field='numOfAns' headerText='Trả lời' textAlign='Right'  width=20%></e-column>
            </e-columns>
          </ejs-grid>
        </div>
      </div>
    </div>
    <user-footer></user-footer>
  </body>